/************* Style for print *************/

body {  /* Telo stranky */
  text-align: left;
  font: .8em/1.3 arial, "Geneva CE", lucida, sans-serif;
}

#breadcrumb, #footer {  /* Navigacni lista, paticka */
  font-size: .8em;
}

#hmenu, #hmenu h4, #footer .second, #breadcrumb h4, #skip_menu, .read_next, #main .panel {  /* Menu, nadpis menu, druha cast paticky, nadpis navigace, preskoceni, vice, sloupec v obsahove casti */
  display: none;
}

h1 {  /* Nadpis 1. urovne */
  margin-bottom: .2em;
}


h2, h3 { /* Nadpis 2. a 3. urovne */
  margin: 0.2em;
  margin-top: 1em;
}  

p, h4 {  /* Text, nadpis 2., 3. a 4. urovne */
  margin: 0.2em;
}

h2 a, h3 a, h4 a, .float_box .title a {
  text-decoration: none;
}

#header .logo {  /* Logo */
  border: 0;
}

a {  /* Odkaz */
  color: black;
}
  
.phidden {  /* Trida pro uplne skryti */
  display: none;
}   
  




abbr, acronym {
  border-bottom: 1px dotted silver;
}

