/************* Style for screen *************/

body {  /* Telo stranky */
  text-align: center;
  font: .8em/1.3 "Arial CE", "Helvetica CE", arial, helvetica, sans-serif;
  position: relative;
  color: #595959;
  background: #ffffff url('/pictures/page_stripe.gif') 50% 0% repeat-y;
  margin: 0;
}
      
.page {  /* Blok sirky stranky */
  width: 920px;
  margin: 0 auto;
}

.mcontent {  /* Hlavni cast (sloupec) */
  float: left;
  width: 690px;
  position: relative;
  min-height: 400px; _height: 400px;
  padding-bottom: 1.5em;
  background: url('/pictures/panel_border_left_stripe.gif') top right repeat-y;
}

.mcontent .mcontent_bottom {  /* zestihleni cary dole */
  position: absolute;
  width: 20px; height: 100px;
  bottom: 0; right: 0;
  background: url('/pictures/panel_border_left_bottom.gif') bottom right no-repeat;
}

.panel {  /* Vedlejsi cast (sloupec - akt. pravy) */
  float: right;
  width: 230px;
}

/***** Hlavicka *****/

#header_background {  /* Pozadi bloku (presah grafiky) */
  background: #55b047 url('/pictures/body_top_stripe.jpg') 0% 50% repeat-x; height: 164px;
}

#header_background #header {  /* Hlavicka */
  background: #ffffff url('/pictures/header_background.jpg') 50% 0% no-repeat;
  height: 164px; 

}

#header .page {  /* Obsah hlavicky */
  height: 164px;
  overflow: hidden;
  position: relative;
}

#header .logo {  /* Logo */
  position: absolute;
  left: 20px;
  top: 12px;
  border: 0;
}

#change { /* hlavicka - menici se obrazek */
  width: 680px;
  height: 157px;
  position: absolute;
  right: 0; top: 0;
}

.mapa-webu #change  {
  background: url('/pictures/headers/mapa_webu.jpg') top right no-repeat;
}

#skip_menu {  /* Preskoceni menu */
  position: absolute;
  top: -100px;
}

/***** Menu *****/

#hmenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#hmenu li {  /* Polozka seznamu s obrazkem*/
  padding: 0; margin: 0;
  display: inline;
}

#hmenu a {  /* Polozka menu */
  color: #ffffff;
  display: block;
  padding: .65em 0;
  font-size: 1.1em;
  float: left;
  width: 115px;
  background: url('/pictures/hmenu_button_normal.jpg') left top no-repeat;
  _width: 115px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

#hmenu a:hover, #hmenu .active, #hmenu a:active, #hmenu a:focus {  /* Aktivni polozka menu */
  background: url('/pictures/hmenu_button_normal.jpg') left bottom no-repeat;
}

#hmenu .active {  /* Aktivni polozka menu */
  background: url('/pictures/hmenu_button_active.jpg') left bottom no-repeat;

}

#hmenu h4, #breadcrumb h4 {  /* skryte nadpisy */
  position: absolute;
  top: -1000px; margin: 0; padding: 0;
}
/***** Navigacni lista *****/
#breadcrumb .page  {  /* Text v navigaci  */
  min-height: 42px; _height: 42px;
  background: url('/pictures/panel_border_left_top.gif') 670px bottom no-repeat;
}

#breadcrumb p {  /* Text v navigaci  */
  padding: .9em .2em .7em 1.7em;
  text-align: left;
  font-size: .88em;
  margin: 0;
}

#breadcrumb .spacer {  /* cervena odrazka */
  padding: 0 0 0 16px;
  background: url('/pictures/breadcrumb_spacer.gif') 8px 55% no-repeat;
}

#breadcrumb a {color: #595959;}

#breadcrumb a:hover, #breadcrumb a:active, #breadcrumb a:focus {color: #222222;}  /* Aktivni odkaz v textu */


/***** Obsahova cast *****/

#main .page {
  position: relative;

}  /* Stranka v obsahove casti */

#main .text_box {  /* Textovy box */
  text-align: left;
  margin: 0px 9px;
  padding: 0 12px;
  color: #666666;
}

#main .box {  /* Box ve sloupci */
  text-align: left;
  margin: 10px 9px;
  padding: 0 12px;
  color: #666666;
  position: relative;
  z-index: 10;
}

h1, h2, h3, h4 {
  color: #0c9100;
  text-align: left;
}

h2 a, h3 a, h4 a {
  text-decoration: none;
}

h1 {  /* Nadpis 1. urovne */
  font-size: 1.6em;
  margin: 0 0 .25em 0;
  padding: 0 0 .2em 0;
}

h2 {  /* Nadpis 2. urovne */
  font-size: 1.3em;
  padding: 1em 0 .3em 0;
  margin: 0;  
}

h3 {  /* Nadpis 3. urovne */
  font-size: 1.1em;
  padding: .6em 0 .3em 0;
  margin: 0;  
}

h4 {  /* Nadpis 4. urovne - sloupec */
  font-size: 1.1em;
  margin: 0 0 .2em 0;
}

#main p {  /* Text v obsahove casti */
  padding-bottom: .6em;
}

#main .text_box p {  /* Text v obsahove casti */
  line-height: 1.5em;
}

#main .read_next {  /* Vice o clanku */
  text-align: right;
  padding: 0 .5em .8em 0;
}

#main a {color: #0c9100;}  /* Odkaz v textu */

#main .read_next a {
  color: #222222;
  padding-left: 12px;
  background: url('/pictures/icon_more.gif') 0% 55% no-repeat;

  }  /* Odkaz vice */

#main ul.link_farm a {color: #222222;}  /* Odkaz v seznamu odkazu */

#main a:hover, #main a:active, #main a:focus, #main a:hover strong, #main a:active strong, #main a:focus strong {color: #222222;}  /* Aktivni odkaz v textu */

#main ul {  /* Seznam v obsahove casti */
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0 0 .6em .5em;
}

#main ul ul {  /* Vnorenej seznam */
  padding: .2em 0 0 .8em;
}

#main li {  /* Polozka seznamu */
  padding: .2em 0 .2em 1em;
  background: url('/pictures/bullet_level_01.gif') 0% .6em no-repeat;
}

#main li li {  /* Polozka seznamu */
  background: url('/pictures/bullet_level_02.gif') 0% .6em no-repeat;
}

.subtitle {  /* Podnadpis */
  font-style: italic;
}

.minireference p {
  text-align: center;
}

.minireference img {
  border: 1px solid #000000;
}

.reference {  /* Box s referencnim projektem */
  margin-bottom: .8em;
}

.reference .foto {  /* Fotografie v referenci */
  width: 202px;
  float: left;
}

.reference .foto a {  /* Foto jako odkaz */
  display: block;
}

.reference .foto img { /* Foto - obrazek */
  border: 0;  
  border: 1px solid #222222;
}

.reference .text {  /* Popis reference */
  width: 380px;
  float: right;
}

.reference h3 {  /* Nadpis reference */
  font-size: 1.4em;
  color: #222222;
  padding-top: 0;
}

.half {
  width: 45%;
  float: left;
  border: 1px solid silver;
  padding: 0 10px;
  margin-bottom: 10px;
}

.right {
  float: right;
}

/***** Paticka *****/

.footer_background {  /* Pozadi bloku (presah grafiky) */
  background: url('/pictures/body_bottom_stripe.jpg') 0% 50% repeat-x;
}

#footer .page {
  background: #099d00 url('/pictures/footer_stripe.gif') 0 0 repeat-x;
  min-height: 36px; _height: 36px;
}

#footer p {
  font-size: 0.9em;
  margin: 0; padding: .9em .5em 0em .5em;
}

#footer p, #footer a {color: #ffffff}  /* Odkaz v paticce */

.cleaner {
  clear: both;
}

.hidden {  /* Trida pro uplne skryti */
  display: none;
}

hr {  /* Horizontalni linky */
  display: none;
}

p {  /* Horizontalni linky */
  margin: 0;
}

.float_box .bottom {
  position: absolute;
  left: 0px; bottom: 0px;
  width: 100%; height: 10px;
  background: url('/pictures/box_red_simple_footer.gif') bottom center no-repeat;
}


.float_box {
  float: right;
  position: relative;
  width: 290px;
  background: url('/pictures/box_red_stripe.gif') 50% 0% repeat-y;
  margin: .2em .2em .2em .6em;
  padding: 60px 0 12px 0;
}

.float_box p, #main .float_box ul li {
  padding: .1em .9em; margin: 0;
}


.float_box.left {
  float: left;
  margin: .2em .6em .2em .2em;
}

.float_box .title {
  background: url('/pictures/box_red_header.gif') 50% 0% no-repeat;
  position: absolute; top: 0; left: 0;
  width: 290px; height: 52px;
  padding: 1.2em 0 0 0;
}

.float_box .title strong {
  font-size: 1.2em;
  color: #993900;
  padding: 0 0 0 3.3em;
}

/* otaznik */
.float_box.question .title {
  background: url('/pictures/box_green_header_otaznik.gif') 50% 0% no-repeat;
}

.float_box.question {
  background: url('/pictures/box_green_stripe.gif') 50% 0% repeat-y;
}

.float_box.question .title strong {
  color: green;
}

.float_box.question .bottom {
  background: url('/pictures/box_green_simple_footer.gif') bottom center no-repeat;
}