
RewriteEngine on

RewriteRule ^calendar/?$ http://calendar.koldasoft.cz/ [R=302,L]
RewriteRule ^gmail/?$ http://gmail.koldasoft.cz/ [R=302,L]

RewriteRule ^t$ http://www.teamviewer.com/download/TeamViewerQS_cs.exe [R=302,L,NC]

RewriteCond %{HTTP_HOST} ^koldasoft\.cz$
RewriteRule ^(.*)$ http://www.koldasoft.cz/$1 [R=301,L]

RewriteCond %{REQUEST_URI} ^/_gat/.*\.js$
RewriteRule ^_gat/.*\.js$ _gat.php [L,QSA]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteCond %{REQUEST_URI} !^/files/
RewriteCond %{REQUEST_URI} !^/pictures/
RewriteCond %{REQUEST_URI} !^/reference/
RewriteCond %{REQUEST_URI} !^/robots\.txt$
RewriteCond %{REQUEST_URI} !^/favicon\.ico$
RewriteCond %{REQUEST_FILENAME} !\.css$
RewriteCond %{REQUEST_FILENAME} !test\.php$
RewriteCond %{REQUEST_URI} ^(.+[^/])$
RewriteRule .* %1/  [R=301,L]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule  ^(.+)/$  index.php
