{var $robots = noindex}

{block content}
<h1 n:block=title>Stránka nenalezena</h1>

<p>Stránka, kterou hledáte, neexistuje. Vraťte se na <a n:href="Homepage:default">úvodní stranu</a>.</p>

<p><small>error 404</small></p>
