{block content}
						<h1 class="cover-heading"><img src="{$basePath}/images/koldasoft-logo.png" alt="Koldasoft, s.r.o." id="logo" width="350" height="110"></h1>
						<p class="lead">
							<a n:href="Homepage:kontakt" class="btn btn-lg btn-default">Kontakt</a>
						</p>
{/block}
